spring:
  application:
    name: GoldenTicket
  datasource:
    url: jdbc:h2:mem:goldenticketdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    open-in-view: false
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
